body{
font-family: sans-serif;
}
h1{
  text-align: center;
}
label{
  display: block;
  padding:1rem 0 .25rem 0;
  text-transform: uppercase;
  font-size: 14px;
}
input, textarea,button{
  display: block;
  width: 100%;
  border: 2px solid #298080;
  padding:.5rem;
  font-size: 18px;
  border-radius: 5px;
}
.contact-form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #E74C3C;
  padding: 2rem;
  border-radius: 5px;
}

.submitBTN{
  border: 0;
  background: #343050;
  padding: 0.5rem;
  color:white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  }
  .submitBTN:hover{
    background: #3498DB;
  }
